<%- include ('../partials/header') %>
<div class="row text-center flex-wrap" id="campground-grid">
    <% products.forEach(function(product){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
               <img src="<%= product.campId.image %>">
               <div class="caption">
                   <h4><%= product.campId.name %></h4>
               </div>
               <div class="caption">
                <h4>$<%= product.campId.cost %></h4>
            </div>
            <div class="caption">
                <h4>No. of Days:<%= product.days %></h4>
            </div>
               <form action="/campgrounds/cart-delete-item" method="POST">
                <input type="hidden" value="<%=product.campId._id%>" name="productId">
                <button class="btn btn-danger" type="submit">Delete</button>
                <br><br>
                <button ><a href="/order/checkout">Order Now!</a></button>
               </form>
               
            
        </div>
    <% }); %>
    <!-- <form action="/order/create-order" method="POST">
       
        <button class="btn-danger" type="submit">Order!</button>

       </form> -->
       
</div>

<%- include ('../partials/footer') %>